backend/dist
backend/.env
backend/node_modules

user-frontend/.next
user-frontend/node_modules
user-frontend/next-env.d.ts

worker-frontend/.next
worker-frontend/node_modules
worker-frontend/next-env.d.ts
